<a href="https://colab.research.google.com/github/sivakrushna-works/ANN-CLASSIFICATION/blob/main/Predections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np
import pickle

In [3]:
#load model, labels, encoders

model = load_model('model.h5')

with open('label_encoder_gender.pkl', 'rb') as f:
    label_encoder_gender = pickle.load(f)

with open('onehotencoder_geography.pkl', 'rb') as f:
    onehotencoder_geography = pickle.load(f)

with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [19]:
# example input data
input_data = {
    'CreditScore': 619,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 42,
    'Tenure': 2,
    'Balance': 60000,
    'NumOfProducts': 1,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 53000.0
}

In [13]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,1,42,2,60000,1,1,1,53000.0

In [23]:
geoencoded = onehotencoder_geography.transform(input_df[['Geography']]).toarray()

In [24]:
geoencoded_df = pd.DataFrame(geoencoded, columns=onehotencoder_geography.get_feature_names_out(['Geography']))

In [28]:
geoencoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [32]:
input_Data = pd.DataFrame(input_data, index=[0])

In [33]:
input_data

{'CreditScore': 619,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 42,
 'Tenure': 2,
 'Balance': 60000,
 'NumOfProducts': 1,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 53000.0}

In [35]:
df = pd.concat([input_Data, geoencoded_df], axis=1)

In [36]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,France,Male,42,2,60000,1,1,1,53000.0,1.0,0.0,0.0

In [37]:
df['Gender'] = label_encoder_gender.transform(df['Gender'])

In [38]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,France,1,42,2,60000,1,1,1,53000.0,1.0,0.0,0.0

In [40]:
df.drop(['Geography'], axis=1, inplace=True)

In [41]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,1,42,2,60000,1,1,1,53000.0,1.0,0.0,0.0

In [42]:
scaler_input = scaler.transform(df)

In [43]:
scaler_input

array([[-0.27700291,  0.90911166,  0.28778948, -1.03940009, -0.29010416,
        -0.89163935,  0.63367318,  0.95214374, -0.79583708,  0.98019606,
        -0.57581067, -0.56349184]])

In [45]:
#model predection
predection = model.predict(scaler_input)

1/1  0s 42ms/step

In [46]:
predection_probability = predection[0][0]

In [47]:
predection_probability

0.13847151

In [49]:
if predection_probability > 0.5:
  print("he will not leave the bank")
else:
  print("he will leave the bank")

he will leave the bank